PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/bw-garments
JWT_SECRET=CHANGE_ME_use_crypto_randomBytes_64
JWT_REFRESH_SECRET=CHANGE_ME_use_crypto_randomBytes_64
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
NODE_ENV=development
CLIENT_URL=http://localhost:5173
WHATSAPP_PHONE=916380422961
